

$suoh: #8E354A;
$shinbashi: #0089A7;
$syoujyahi: #E83015;
$hashita: #986DB2;
$umenezomi: #9E7A7A;
$torinoko: #DAC9A6;
$umezome: #B5495B;
$taisya: #A36336;
$itigo: #B5495B;
$rurikon: #0B346E;

/*
 Query Media Variables
 */
$mobile: 425px;
$table: 426px;
$desktop: 768px;