/**
  Home page body style
 */

.list-of-services {
  ul {
    margin: 0;
    list-style: none;
    li {
      background-color: whitesmoke;
      border-radius: 4px;
      padding: 0.5rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);
        &:visited {
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
  .english-name {
    font-size: .64rem;
  }
}